<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="./css/stylesheet.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__container">
          <div class="header__logo">
            <a class="header__logo--link" href="/">
              <img
                src="./images/header/logo.svg"
                alt="logo"
                width="302"
                height="60"
              />
            </a>
          </div>
          <div class="header__right">
            <ul class="header__list">
              <li class="header__items">
                <a href="#" class="header__link">
                  <span class="header__text">Home</span>
                </a>
              </li>
              <li class="header__items">
                <a href="#" class="header__link">
                  <span class="header__text">About Us</span>
                </a>
              </li>
              <li class="header__items">
                <a href="#" class="header__link">
                  <span class="header__text">Our courses</span>
                </a>
              </li>
              <li class="header__items">
                <a href="/login" class="header__link">
                  <span class="header__text">Sign in</span>
                </a>
              </li>
            </ul>
            <button
              type="btn"
              class="header__search"
              aria-label="search button"
              aria-hidden="true"
            >
              <img
                class="header__search--image"
                src="./images/header/search.svg"
                alt="search button"
                width="39"
                height="38"
              />
            </button>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="intro">
        <div class="container">
          <div class="intro__container">
            <div class="intro__left">
              <div class="intro__box">
                <p class="intro__box--text">Get Your Course Now!</p>
                <h1 class="intro__box--header">Let’s Shape Your Career!</h1>
                <p class="intro__box--define">
                  PaceLearning ia an online learning and teaching marketplace
                  with over 500+ courses and 50k+ students
                </p>
                <button class="intro__box--button">Get Started</button>
              </div>
            </div>
            <div class="intro__right">
              <button
                type="button"
                class="intro__play"
                aria-label="play button"
                aria-hidden="true"
              >
                <img
                  class="intro__play--image"
                  src="./images/intro/playbtn.svg"
                  alt="Play button"
                />
              </button>
              <img
                src="./images/intro/hero.png"
                alt="picture of promotion"
                srcset="./images/intro/hero.png"
                width="484"
                height="726"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="service">
        <div class="container">
          <div class="service__container">
            <h2 class="service__header">Our Services</h2>
            <p class="service__define">
              Starting learning for free with a wide range of free online
              courses covering
            </p>
            <ul class="service__list">
              <li class="service__items">
                <div class="service__image service__image--first">
                  <img
                    src="./images/service/hub.svg"
                    alt="lorem"
                    width="70"
                    height="70"
                  />
                </div>
                <div class="service__describe">Lorem ipsum dolor sit amet</div>
              </li>
              <li class="service__items">
                <div class="service__image service__image--second">
                  <img
                    src="./images/service/devboard.svg"
                    alt="lorem"
                    width="70"
                    height="70"
                  />
                </div>
                <div class="service__describe">Lorem ipsum dolor sit amet</div>
              </li>
              <li class="service__items">
                <div class="service__image service__image--third">
                  <img
                    src="./images/service/hub.svg"
                    alt="lorem"
                    width="70"
                    height="70"
                  />
                </div>
                <div class="service__describe">Lorem ipsum dolor sit amet</div>
              </li>
              <li class="service__items">
                <div class="service__image service__image--fourth">
                  <img
                    src="./images/service/devboard.svg"
                    alt="lorem"
                    width="70"
                    height="70"
                  />
                </div>
                <div class="service__describe">Lorem ipsum dolor sit amet</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        <div class="container">
          <div class="footer__container">
            <div class="footer__left">
              <div class="footer__logo">
                <a href="/" class="footer__logo--link">
                  <img
                    src="./images/footer/logo.svg"
                    alt="logo"
                    class="footer__logo--img"
                    width="420"
                    height="74"
                  />
                </a>
              </div>
              <div class="footer__address">
                <adress>35 S Swan Road, Tucson,az, 85303 United States</adress>
              </div>
              <ul class="footer__list">
                <li class="footer__items">
                  <a href="#" class="footer__link">
                    <img
                      src="./images/footer/social/Facebook.png"
                      alt="Facebook"
                    />
                  </a>
                </li>
                <li class="footer__items">
                  <a href="#" class="footer__link">
                    <img
                      src="./images/footer/social/Twitter.png"
                      alt="Twitter"
                    />
                  </a>
                </li>
                <li class="footer__items">
                  <a href="#" class="footer__link">
                    <img
                      src="./images/footer/social/WhatsApp.png"
                      alt="Whastapp"
                    />
                  </a>
                </li>
                <li class="footer__items">
                  <a href="#" class="footer__link">
                    <img
                      src="./images/footer/social/LinkedIn.png"
                      alt="LinkedIn"
                    />
                  </a>
                </li>
                <li class="footer__items">
                  <a href="#" class="footer__link">
                    <img
                      src="./images/footer/social/WhatsApp.png"
                      alt="Whastapp"
                    />
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer__right">
              <ul class="footer__nav">
                <li class="footer__nav--items">
                  <b class="footer__nav--describe">Categories </b>
                  <ul class="footer__links">
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link">
                        Web Development
                      </a>
                    </li>
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link"> Mobile App </a>
                    </li>
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link">
                        Graphics Design
                      </a>
                    </li>
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link">
                        Digital Marketing
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer__nav--items">
                  <b class="footer__nav--describe">Links</b>
                  <ul class="footer__links">
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link"> Home </a>
                    </li>
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link"> About Us </a>
                    </li>
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link"> Our Courses </a>
                    </li>
                    <li class="footer__links--items">
                      <a href="#" class="footer__links--link">
                        Privacy Policy
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer__nav--items">
                  <b class="footer__nav--describe">Stay Connected!</b>
                  <ul class="footer__links">
                    <li class="footer__links--items">
                      <button
                        class="footer__links--btn"
                        aria-label="subscribe"
                        aria-hidden="true"
                      >
                      Subscribe
                      <img src="./images/footer/sbsbtn.png" alt="button" width="66" height="66">
                    </button>
                    </li>
                    <li class="footer__links--items">
                      <a class="footer__links--link" href="tel:+998912345678">
                        <img src="./images/footer/Call.png" alt="call">
                        +998 91 234 5678
                      </a>
                    </li>
                    <li class="footer__links--items">
                     <a class="footer__links--link footer__links--mail" href="mailto:contact@example.com">
                      <img src="./images/footer/Mail.png" alt="mail">
                        contact@example.com
                     </a>
                    </li>
                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
