<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="./css/stylesheet.css" />
<link rel="stylesheet" href="./css/role.css" />
</head>
<body>
  <main>
    <div class="panel">
      <div class="panel__left nav">
       <div class="nav__avatar">
         
       </div>
      </div>
      <div class="panel__right"></div>
    </div>
  </main>
</body>
</html>